.btn {
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding: 1.2rem 2.5rem;
  text-transform: uppercase;
  color: #777777;
  outline: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.btn--main {
  background-color: #f7901e;
  border-radius: 1rem;
  color: #fff;
  font-weight: bold;
  position: relative;
  border: 2px solid #f7901e;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

.btn--main:hover {
  background-color: #fff;
}

.btn span {
  font-size: 1rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.btn:hover {
  color: #f7901e;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 1260px) {
  html {
    font-size: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media only screen and (max-width: 1010px) {
  html {
    font-size: 40%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.main__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem auto;
  width: 85%;
  position: relative;
}

.main__nav--logo {
  width: 12rem;
  height: auto;
  margin-top: 1.5rem;
}

.main__nav--logo__link {
  outline: none;
}

.main__nav--logo__image {
  width: 100%;
}

.main__nav--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__nav--menu__item {
  margin-left: 2rem;
  text-transform: uppercase;
  font-size: 1.7rem;
}

.header {
  background-image: url(../images/header.png);
  background-size: cover;
  background-position: center;
  height: 90vh;
  border-top: 1px solid rgba(124, 122, 122, 0.342);
}

.header__content {
  display: inline-block;
  position: absolute;
  left: 15rem;
  top: 30%;
  width: 30%;
}

.header__content--heading__primery {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 1rem;
  color: #1b1b1b;
  font-family: Tahoma, sans-serif;
}

.header__content--heading__primery span {
  font-size: 5.6rem;
  color: #f7901e;
}

.header__content--text {
  font-size: 1.5rem;
  color: #777777;
  margin-bottom: 4rem;
  line-height: 1.5;
}

.header__content--buttons {
  width: 90%;
}

.header__content--buttons > * {
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  padding: 1.2rem 2.5rem;
  font-size: 1.4rem;
  background-color: #f7901e;
}

.header__content--buttons__book--demo {
  color: #777777;
  border: 2px solid #777777;
  background-color: #fff;
  position: relative;
  border-radius: 1rem;
  font-weight: bold;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

.header__content--buttons__book--demo span {
  font-size: 1rem;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
}

.header__content--buttons__book--demo:hover {
  background-color: #777777;
  color: #fff;
}

@media only screen and (max-width: 1000px) {
  .header {
    background-position: 50%;
    position: relative;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(27, 27, 27, 0.2)), to(rgba(27, 27, 27, 0.2))), url(../images/header.png);
    background-image: linear-gradient(to right, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)), url(../images/header.png);
  }
  .header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }
  .header__content--heading__primery {
    color: #fff;
    font-weight: bold;
    font-size: 6rem;
    margin-bottom: 3rem;
  }
  .header__content--heading__primery span {
    font-size: 7rem;
  }
  .header__content--text {
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.7;
    width: 80%;
    margin: 1.6rem auto 6rem;
  }
  .header__content--buttons {
    width: 100%;
  }
  .header__content--buttons > * {
    padding: 1.5rem 3.5rem;
  }
  .header__content--buttons__book--demo span {
    font-size: 1.3rem;
    position: absolute;
    top: 1.2rem;
    right: 2rem;
  }
}

.about {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image {
  height: 43rem;
  width: 50%;
  text-align: right;
}

.about__image--img {
  height: 100%;
  margin-right: 8rem;
}

.about__content {
  width: 50%;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.about__content--heading__secendory {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 3rem;
  color: #3c3c3c;
  color: #1b1b1b;
}

.about__content--heading__secendory span {
  color: #f7901e;
  font-weight: bold;
}

.about__content--text {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #777777;
  width: 80%;
}

.about__content--btn {
  margin-top: 2rem;
}

.streamline {
  height: 140vh;
  width: 100%;
  position: relative;
}

.streamline__image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.streamline__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 85%;
  height: 80vh;
  text-align: center;
}

.streamline__content--heading__secendory {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 3rem;
  color: #3c3c3c;
  color: #fff;
}

.streamline__content--heading__secendory span {
  font-weight: bold;
}

.streamline__content--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.streamline__content--container__card {
  background-color: #fff;
  margin: 3rem 0 3rem 3rem;
  padding: 2rem;
  width: 40%;
  height: 18rem;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 7rem;
  border-radius: .5rem;
  position: relative;
}

.streamline__content--container__card--image {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: -6rem;
}

.streamline__content--container__card--heading__tertiary {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
  text-transform: uppercase;
  width: 80%;
}

.streamline__content--container__card--text {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #777777;
  font-size: 1.5rem;
  margin-left: 5rem;
  width: 80%;
}

.covid19 {
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.covid19__content {
  width: 50%;
  margin-top: 12rem;
  margin-left: 14rem;
}

.covid19__content--heading__secendory {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 3rem;
  color: #3c3c3c;
  color: #f7901e;
  font-weight: bold;
  font-size: 4.4rem;
}

.covid19__content--heading__secendory span {
  color: #1b1b1b;
  font-weight: 100;
}

.covid19__content--text {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #777777;
  width: 90%;
  font-size: 1.7rem;
  color: #363636;
  font-weight: 600;
  text-transform: uppercase;
}

.covid19__content--list {
  list-style: none;
  position: relative;
}

.covid19__content--list__item {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #777777;
  color: #363636;
  width: 80%;
  margin-left: 3rem;
}

.covid19__content--list__item::before {
  content: '';
  background-image: radial-gradient(#f7901e 20%, #fff 30%);
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  margin-top: 0.2rem;
  left: 0rem;
  border-radius: 50%;
  border: 0.2rem solid #f7901e;
}

.covid19__image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 48%;
  z-index: -1;
}

.covid19__image--img {
  width: 100%;
}

.video {
  margin-top: -4.5rem;
  position: relative;
  height: 100vh;
}

.video__image {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.video__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100vh;
  width: 80%;
  text-align: center;
  margin-top: 15rem;
}

.video__content--heading__secendory {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 3rem;
  color: #3c3c3c;
  margin-bottom: 6rem;
}

.video__content--heading__secendory span {
  font-weight: bold;
  color: #f7901e;
}

.video__content--video {
  height: 45rem;
  width: 80%;
  position: relative;
  outline: none;
}

.video__content--video__source {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.video__content--play__button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  width: 10rem;
  height: 10rem;
  background-color: #f7901e;
  -webkit-box-shadow: 0rem 0rem 1rem 1rem rgba(247, 144, 30, 0.5);
          box-shadow: 0rem 0rem 1rem 1rem rgba(247, 144, 30, 0.5);
  border-radius: 50%;
  font-size: 4rem;
}

.video__content--play__button i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.setup {
  margin-top: 20rem;
  height: 110vh;
  position: relative;
}

.setup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

.setup__content--heading__secendory {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 3rem;
  color: #3c3c3c;
}

.setup__content--heading__secendory span {
  font-size: 90%;
  font-weight: bold;
  color: #f7901e;
}

.setup__content--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.setup__content--info__container {
  width: 20%;
  position: relative;
}

.setup__content--info__container:nth-child(odd) {
  margin-top: 12rem;
}

.setup__content--info__container:nth-child(odd)::before {
  content: '';
  background-image: url(../images/arrow-up.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 8rem;
  width: 10rem;
  right: -9rem;
  top: 1rem;
  position: absolute;
}

.setup__content--info__container:nth-child(2)::before {
  content: '';
  height: 8rem;
  width: 10rem;
  right: -10rem;
  top: 5rem;
  background-image: url(../images/arrow-down.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.setup__content--info__container--image {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  position: relative;
  border: 2px dashed #f7901e;
  margin: 0 auto 4rem;
}

.setup__content--info__container--image__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 0.8rem solid rgba(247, 144, 30, 0.3);
  background-image: radial-gradient(#f9f5ed 50%, #fff 50%);
  -webkit-transition: 1s;
  transition: 1s;
}

.setup__content--info__container--image__container:hover {
  background-image: radial-gradient(#f7901e, #f7901e);
}

.setup__content--info__container--image__container--img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.setup__content--info__container--heading__tertiary {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #363636;
  font-weight: bold;
}

.setup__content--info__container--text {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #777777;
}

.code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

.code--image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.code__content {
  width: 40%;
  z-index: 1;
  margin: 33vh 0 0 10%;
}

.code__content--heading__secendory {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 3rem;
  color: #3c3c3c;
  font-size: 4.5rem;
}

.code__content--heading__secendory span {
  font-weight: bold;
  color: #f7901e;
}

.code__content--text {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #777777;
  width: 85%;
  text-align: justify;
  line-height: 1.6;
}

.code__content--btn {
  margin-top: 5rem;
}

.code__image {
  width: 40%;
  position: relative;
}

.code__image--img {
  width: 100%;
  position: absolute;
  top: 20%;
  margin-left: 5rem;
}

.equipment {
  width: 100%;
  height: 110vh;
  position: relative;
}

.equipment__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  margin: 5rem auto;
  text-align: center;
}

.equipment__content--heading__secendory {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 3rem;
  color: #3c3c3c;
  margin-bottom: 1rem;
}

.equipment__content--heading__secendory span {
  font-weight: bold;
  color: #f7901e;
}

.equipment__content--text {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #777777;
}

.equipment__content--image {
  width: 70%;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80ch;
  width: 100%;
  position: relative;
  padding-top: 15rem;
}

.info__bgimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.info__image {
  height: 43rem;
  width: 50%;
  text-align: right;
}

.info__image--img {
  height: 100%;
  margin-right: 8rem;
}

.info__content {
  width: 50%;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.info__content--heading__secendory {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 3rem;
  color: #3c3c3c;
  color: #1b1b1b;
}

.info__content--heading__secendory span {
  color: #f7901e;
  font-weight: bold;
}

.info__content--text {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #777777;
  width: 80%;
  line-height: 1.6;
}

.info__content--btn {
  margin-top: 2rem;
}

.review {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: -5rem;
}

.review__bgimage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.review__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review__content--left {
  width: 50%;
  text-align: center;
  margin: 1.5rem;
}

.review__content--left__image {
  width: 95%;
  height: 80%;
  margin-bottom: 4rem;
}

.review__content--left__image--img {
  width: 100%;
  height: 100%;
}

.review__content--left--text {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #777777;
  color: #fff;
  font-size: 1.8rem;
}

.review__content--right {
  width: 50%;
  margin: 1.5rem;
}

.review__content--right__container {
  width: 90%;
  height: 45%;
}

.review__content--right__container--heading__secendory {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 3rem;
  color: #3c3c3c;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1rem;
}

.review__content--right__container--text {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #777777;
  color: #fff;
}

.review__content--right__container--icon {
  color: #fff;
  width: 70%;
}

.review__content--right__container--icon i {
  margin-right: 2rem;
}

.review__content--right__container--icon i:last-child {
  color: rgba(255, 255, 255, 0.5);
}

.review__content--right__form {
  background-color: #fff;
  width: 90%;
  border-radius: 1rem;
  text-align: right;
  padding: 2rem;
}

.review__content--right__form--textarea {
  width: 95%;
  display: block;
  resize: none;
  padding: 1rem;
}

.review__content--right__form button {
  margin-top: 2rem;
}
/*# sourceMappingURL=style.css.map */