//************************************************************
//* BASIC RESET
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

@media only screen and (max-width: 1260px) {
    html {
        font-size: 50%;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 1010px) {
    html {
        font-size: 40%;
        box-sizing: border-box;
    }
}

body {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-size: 1.5rem;
    font-family: sans-serif;
}