//************************************************************
//* BASIC RESET
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include res(tab-land) {
    font-size: 50%;
  }

  @include res(tab-port) {
    font-size: 37%;
  }
}

body {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-size: 1.5rem;
  font-family: sans-serif;
}
