//************************************************************
//* REVIEWS SECTION
.review {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: -5rem;

  @include res(tab-port) {
    height: 160vh;
  }

  @include res(tab-port) {
    height: 140vh;
  }

  &__bgimage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__content {
    @include positionCenter;
    width: 80%;
    height: 70vh;
    display: flex;

    @include res(tab-land) {
      width: 90%;
    }

    @include res(tab-port) {
      flex-direction: column-reverse;
      height: 130vh;
    }

    @include res(phone) {
      height: 110vh;
    }

    @media only screen and (max-width: 450px) {
      height: 105vh;
    }

    &--left {
      width: 50%;
      text-align: center;
      margin: 1.5rem;

      @include res(tab-port) {
        position: absolute;
        top: 20%;
        width: 100%;
        margin: 0 auto;
        height: 70vh;
        margin-bottom: 10rem;
      }

      @include res(phone) {
        top: 20%;
        height: 40vh;
      }

      @media only screen and (max-width: 400px) {
        top: 25%;
      }
      &__image {
        width: 95%;
        height: 80%;
        margin-bottom: 4rem;
        &--img {
          width: 100%;
          height: 100%;
        }

        @include res(tab-land) {
          height: 60%;
          margin-top: 10%;
        }

        @include res(tab-port) {
          margin: 10% auto;
          width: 80%;
          height: 60%;
          margin-bottom: 2rem;
        }

        @include res(phone) {
          width: 100%;
          height: 100%;
        }

        @media only screen and (max-width: 450px) {
          width: 100%;
          height: 85%;
        }
      }
      &--text {
        @include text;
        color: $color__white;
        font-size: 1.8rem;
      }
    }
    &--right {
      width: 50%;
      margin: 1.5rem;

      @include res(tab-port) {
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
      }

      @include res(phone) {
        height: 100%;
        width: 100%;
      }

      &__container {
        width: 90%;
        height: 45%;
        position: relative;

        &--heading__secendory {
          @include heading__secendory;
          font-weight: bold;
          color: $color__white;
          margin-bottom: 1rem;
        }

        &--text {
          @include text;
          color: $color__white;

          @include res(tab-port) {
            font-size: 2rem;
          }

          @include res(phone) {
            font-size: 2.2rem;
          }
        }
        &--icon {
          color: $color__white;
          width: 70%;

          & i {
            margin-right: 2rem;

            @include res(tab-port) {
              font-size: 3.5rem;
              margin-bottom: 100vh;
            }

            &:last-child {
              color: rgba($color__white, 0.5);
            }
          }
        }
      }
      &__form {
        background-color: $color__white;
        width: 90%;
        border-radius: 1rem;
        text-align: right;
        padding: 2rem;

        @include res(tab-port) {
          height: 35rem;
          width: 95%;
        }

        &--textarea {
          width: 95%;
          display: block;
          resize: none;
          padding: 1rem;

          @include res(tab-port) {
            margin: 2rem auto 0;
            width: 90%;
            height: 22rem;
          }
        }
        & button {
          margin-top: 2rem;

          @media only screen and (max-width: 450px) {
            display: block;
            margin: 2rem auto;
          }
        }
      }
    }
  }
}
