// $color__primary: #f7901e;
$color__primary: blue;
$color__check: chartreuse;
$color__cross: red;
$color__footer: #f6f6f6;
$color__footer--dark: #e8e8e8;
$color__bg: #fff0dc;
$color__bg--online: #f7f8f8;
$color__grey--light: #777777;
$color__white: #fff;
$color__white--secendory: #f9f5ed;
$color__black: #1b1b1b;
$color__black--secendory: #363636;
$color__black--light: #3c3c3c;
