//************************************************************
//* VIDEO SECTION
.video {
  margin-top: -4.5rem;
  position: relative;
  height: 120vh;

  @include res(tab-port) {
    height: 90vh;
  }

  @include res(phone) {
    height: 70vh;
  }

  @media only screen and (max-width: 450px) {
    height: 55vh;
  }
  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  &__content {
    @include positionCenter;
    height: 80vh;
    width: 80%;
    text-align: center;

    @include res(tab-port) {
      height: 60vh;
    }

    @include res(phone) {
      height: 50vh;
    }

    @media only screen and (max-width: 450px) {
      height: 40vh;
    }
    &--heading__secendory {
      @include heading__secendory;
      margin-bottom: 6rem;
      & span {
        font-weight: bold;
        color: $color__primary;
      }

      @include res(phone) {
        margin-bottom: 0rem;
        font-size: 4rem;
      }
    }
    &--video {
      height: 45rem;
      width: 80%;
      position: relative;
      outline: none;

      @include res(tab-port) {
        height: 55rem;
        width: 90%;
      }

      @include res(phone) {
        width: 100%;
      }

      @media only screen and (max-width: 450px) {
        height: 45rem;
      }
      &__source {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }

      &__box {
        position: relative;
      }
    }
    &--play__button {
      @include positionCenter;
      color: $color__white;
      width: 10rem;
      height: 10rem;
      background-color: $color__primary;
      box-shadow: 0rem 0rem 1rem 1rem rgba($color__primary, 0.5);
      border-radius: 50%;
      font-size: 4rem;

      @media only screen and (max-width: 450px) {
        width: 7rem;
        height: 7rem;
        font-size: 3rem;
      }
      & i {
        @include positionCenter;
      }
    }
  }
}
